body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
    height: 98vh;
    margin: 0;
}

main {
    display: flex;
}


#score-table {
    text-align: right;
}

#game-border {
    background-color: black;
    border: solid yellow 4px;
    border-radius: 20px;
    width: 98vw;
    max-width: 566px;
    height: min-content;
    max-height:  626px;
    margin: 20px 0;
    position: relative;
}

#game-space {
    border-radius: 20px;
    width: 98vw;
    max-width: 566px;
    height: min-content;
    max-height:  626px;
}

#start-screen {
    position: absolute;
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-over-text, #final-score-text {
    display: none;
}

#game-keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#up-key {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#other-keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.game-key {
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 8px;
}

@media all and (max-width: 480px) {
    .game-text {
        display: none;
    }

    #game-title-tall-screen {
        display:block;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
        padding: 0;
        margin: 0;
    }

    #game-title-short-screen {
        display: none;
    }
}

@media all and (min-width: 480px) {
    .game-text {
        display: block;
        width: 300px;
        margin: 20px;
    }

    #game-keys {
        display: none;
    }

    #game-title-short-screen {
        display:block;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
        padding: 0;
        margin: 0;
    }

    #game-title-tall-screen {
        display: none;
    }
}