body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
    height: 98vh;
    margin: 0;
}

#game-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

#game-border {
    background-color: black;
    border: solid yellow 4px;
    border-radius: 20px;
    width: 98vw;
    max-width: 566px;
    height: min-content;
    max-height:  626px;
    margin: 20px 0;
    position: relative;
}

#game-space {
    border-radius: 20px;
    width: 98vw;
    max-width: 566px;
    height: min-content;
    max-height:  626px;
}

#start-screen {
    position: absolute;
    background-color: black;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#up-key {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#other-keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.game-key {
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 8px;
}